{% extends "layout.html" %}

{% block title %}
    Qoute
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol">
                <option selected disabled>Symbol</option>
                {% for stock in stocks %}
                <option>{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">sell</button>
    </form>
{% endblock %}
